@media screen and (min-width: 64em) { 
    #personal {
        background-color: rgb(56, 153, 243);
        color: black;
        }
    body {
        background-color: rgb(255, 195, 237);  
        }
}