@media screen and (min-width: 32.5em) { 
    #personal {
        background-color: rgb(255, 195, 237);
        color: black;
        }
    body {
        background-color: rgb(56, 153, 243);  
        }
}