@media screen and (min-width: 32.5em) { 
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-gap: 0;
    }

    header, footer {
        grid-column: 1/3;

    }
    .example {
        align-self: stretch;
        margin: 1em;
        padding: .5em;
    }

    #ex1 {
        grid-column: 1/2;
    }
    #ex2 {
        grid-column: 2/3;
    }
    #ex3 {
        grid-column: 1/3;
    }
}